<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- built style files will be auto injected -->
</head>
<body>
<div id="app">
    <!-- built script files will be auto injected -->
    <!--<f7-statusbar></f7-statusbar>-->
    <!--<f7-views>-->
    <!--<f7-view main>-->
    <!--<f7-pages navbar-through toolbar-through>-->
    <!--<f7-page no-navbar name="index">-->
    <!--<f7-navbar title="淘权网" sliding></f7-navbar>-->
    <!--</f7-page>-->
    <!--</f7-pages>-->
    <!--<f7-toolbar tabbar labels class='c-toolbar'>-->
    <!--<f7-link icon-fa="book" text="专利" href="/patent/" route-tab-link="#tab_patent" active></f7-link>-->
    <!--<f7-link icon-fa="bandcamp" text="商标" href="/trademark/" route-tab-link="#tab_trademark"></f7-link>-->
    <!--</f7-toolbar>-->
    <!--&lt;!&ndash;空tab仅供show事件使用&ndash;&gt;-->
    <!--<f7-tabs>-->
    <!--&lt;!&ndash;tab:show方法在tab激活的时候触发&ndash;&gt;-->
    <!--&lt;!&ndash;<f7-tab id="tab_patent" active @tab:show="tabActived('patent')"></f7-tab>&ndash;&gt;-->
    <!--&lt;!&ndash;<f7-tab id="tab_trademark" @tab:show="tabActived('trademark')"></f7-tab>&ndash;&gt;-->
    <!--<f7-tab id="tab_patent"></f7-tab>-->
    <!--<f7-tab id="tab_trademark" ></f7-tab>-->
    <!--</f7-tabs>-->
    <!--</f7-view>-->
    <!--</f7-views>-->
</div>
</body>
</html>
